@media (min-width: 576px) {
    #receips section article {
        height: 100%;
    }  
}

* {    
    font-family: sans-serif;
    color: black;
}

#receips section {
    margin-bottom: 15px;
}

#receips section div {
    height: 100%;
}

#receips section article {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;    
}

#receips section h3 {
    font-size: 1.25em;    
}

#receips p {
    padding: 10px;
}

#receips a.btn {
    margin-top: 5px;
    float: right;
    font-size: .8em;
}

main h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.75em;
}

.background-pale-violet-red {
    background-color: palevioletred;
}

.background-pale-green {
    background-color: palegreen;
}

.background-skyblue {
    background-color: skyblue;
}

#header-main {
    background-color: lightgrey;
}

#menu-items {
    margin-top: 7px;
}

#menu-items li {
    padding: 2px;
}

#menu-items a {
    text-align: center;
    border: 1px green solid;
    background-color: lightyellow;
}

#menu-items a:hover {
    background-color: lightgreen;    
}