@media (max-width: 767px) {
    .col-sm-1 {
        flex: 16.66%;
    }

    .col-sm-2 {
        flex: 33.33%;
    }

    .col-sm-3 {
        flex: 50%;
    }

    .col-sm-4 {
        flex: 66.66%;
    }

    .col-sm-5 {
        flex: 83.33%;
    }

    .col-sm-6 {
        flex: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        flex: 16.66%;
    }

    .col-md-2 {
        flex: 33.33%;
    }

    .col-md-3 {
        flex: 50%;
    }

    .col-md-4 {
        flex: 66.66%;
    }

    .col-md-5 {
        flex: 83.33%;
    }

    .col-md-6 {
        flex: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 16.66%;
    }

    .col-lg-2 {
        flex: 33.33%;
    }

    .col-lg-3 {
        flex: 50%;
    }
    
    .col-lg-4 {
        flex: 66.66%;
    }

    .col-lg-5 {
        flex: 83.33%;
    }

    .col-lg-6 {
        flex: 100%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#receips {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

section {
    margin: 20px 0px 0px 0px;
}

section > article {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    margin: 0px 20px 0px 0px;
    height: 100%;
}

section h2 {    
    font-size: 1.25em;
    border: 1px solid black;
    margin-top: -1px;
    margin-right: -1px;
    width: 140px;
    text-align: center;
    float: right;        
}

section p {
    padding: 10px;
    clear: both;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.75em;
}

.background-pale-violet-red {
    background-color: palevioletred;
}

.background-pale-green {
    background-color: palegreen;
}

.background-skyblue {
    background-color: skyblue;
}